//- HTML
h1= title

hr

input#backup(type="button", value="백업")

input#import(type="button", value="불러오기")

div#popup-import(style="display:none;")
  form#form-import(action="/admin/import", method="post")
    input(type='hidden', name='key', value=key)
    textarea(name="db")=backup
    br
    input#submit-import(type="button", value="등록")

form#form-backup(action="/admin/backup", method="post")
  input(type='hidden', name='key', value=key)

hr

div.block
  pre
    현재 데이터
    br
    =db

div.block
  pre
    백업 데이터
    br
    =backup

//- 자바스크립트
script
  document.getElementById('import').onclick = function () {
    var display = document.getElementById('popup-import').style.display;
    var toggle = display === 'none' ? 'block' : 'none';
    document.getElementById('popup-import').style.display = toggle;
  };
  document.getElementById('submit-import').onclick = function () {
    if (confirm('정말 불러오시겠습니까?')) {
      document.getElementById('form-import').submit();
    }
  };
  document.getElementById('backup').onclick = function () {
    if (confirm('정말 백업하시겠습니까?')) {
      document.getElementById('form-backup').submit();
    }
  };
