//- layout.jade is automatically prepended here by the Express framework.

div#container.rounded-corner5
  div#container2
    div#member-panel
      div#logo
        // logo
        div#logo-img-wrapper
          h2 2014
          img#logo-img(src='images/naseoul_logo.png')

      div.leftcolumn
        //img.photo.small.rounded-corner5(src='images/100115495.jpg')
        div.name 정몽준
          a(href='http://www.mjchung.com/', target='_blank', title='공식사이트')
            img.icon(src='images/home-16x16.png')
          a(href='http://twitter.com/ourmj', target='_blank', title='공식 트위터')
            img.icon(src='images/twitter-16x16.png')

      div.rightcolumn
        //img.photo.small.rounded-corner5(src='images/100115591.jpg')
        div.name 박원순
          a(href='http://wonsoon.com/', target='_blank', title='공식사이트')
            img.icon(src='images/home-16x16.png')
          a(href='http://twitter.com/wonsoonpark', target='_blank', title='공식 트위터')
            img.icon(src='images/twitter-16x16.png')
      div.clear

    div#spaceholder(style='height:112px') &nbsp;

    div#profile-panel
      div.leftcolumn
        div.caption 프로필

      div.rightcolumn
        div.caption 프로필
      div.clear
      include profiles

    div#pledge-panel
      div.leftcolumn
        div.caption 5대 공약
      div.rightcolumn
        div.caption 5대 공약
      div.clear
      include pledges
      div.leftcolumn.notice
        ※ 이 후보의 공식
        a(href='/data/20140522182149209_1.pdf', target='_blank') 선거공보
        ,
        a(href='/data/20140523215934211_1.pdf', target='_blank') 5대 공약집
        ,
        a(href='/data/20140522182203315_1.pdf', target='_blank') 공약집
        보기
      div.rightcolumn.notice
        ※ 이 후보의 공식
        a(href='/data/20140522182236297_1.pdf', target='_blank') 선거공보
        ,
        a(href='/data/20140522155612193_1.pdf', target='_blank') 5대 공약집
        ,
        a(href='/data/20140522182246093_1.pdf', target='_blank') 공약집
        보기

    div#timeline-panel
      div.sort
        if sort_by == 'date'
          a.button(href='?sortby=like') Pong 순으로 정렬하기
        else
          a.button(href='?sortby=date') 날짜 순으로 정렬하기
      include timeline
      div.leftcolumn
        div.caption 타임라인
        div.timeline(topic='정몽준')
          mixin timeline('left', '정몽준', left_events)

      div.rightcolumn
        div.caption 타임라인
        div.timeline(topic='박원순')
          mixin timeline('right', '박원순', right_events)
      div.clear

div#params(style='display: none;')
  input(type='hidden', name='event_id', value=event_id)

div#floating
  div#tooltip-pong.rounded-corner5(style='display:none;')
    strong 관심
    &nbsp;가는 글이라면?
    strong PONG
    을 클릭해 SCORE를 올려 주세요!
  div#menu.rounded-corner5(style='display:none;')
    ul
      a(href='aboutus.html', target='_blank')
        li.rounded-corner5 About us
      a.button-promotion(href='promotion.html', target='_blank')
        li.button-bright.rounded-corner5 애정선거!
      div.separator
      a(href='#profile-panel')
        li.rounded-corner5 프로필
      a(href='#pledge-panel')
        li.rounded-corner5 공약
      a(href='#timeline-panel')
        li.rounded-corner5 타임라인

//- feedback widget
style(type='text/css')
  @import url('http://getbarometer.s3.amazonaws.com/assets/barometer/css/barometer.css');
script(type='text/javascript', src='http://getbarometer.s3.amazonaws.com/assets/barometer/javascripts/barometer.js')
script(type='text/javascript')
  BAROMETER.load('wcL6dMdEn5teaF8G2j7W3');

each jsfile in jsfiles
  script(type='text/javascript', src=jsfile)

//- vim: ts=8 sts=2 sw=2 expandtab
