table.rounded-corner5
  tr
    td.lefttd 62세
    th 나이
    td.righttd 58세
  tr
    td.lefttd 서울특별시 동작구 사당로23바길
    th 주소
    td.righttd 서울특별시 은평구 진관2로
  tr
    td.lefttd 아산사회복지재단 이사장
    th 직업
    td.righttd 서울특별시장
  tr
    td.lefttd 서울대학교 경제학과 졸업
    th 학력
    td.righttd 단국대학교 문리과대학 사학과 졸업(문학사)
  tr.lasttr
    td.lefttd
      ul
        li (전) 한나라당 대표
        li (전) 국제축구연맹(FIFA) 부회장
    th
      경력
    td.righttd
      ul
        li (전) 희망제작소 상임이사
        li (현) 서울특별시장

div.notice ※ 프로필은&nbsp;
  a(href='http://info.nec.go.kr/electioninfo/electionInfo_report.xhtml?electionId=0020140604&requestURI=%2Felectioninfo%2F0020140604%2Fcp%2Fcpri03.jsp&topMenuId=CP&secondMenuId=CPRI03&menuId=&statementId=CPRI03_%233&electionCode=3&cityCode=1100&sggCityCode=-1&townCode=-1&sggTownCode=0&x=27&y=8', target='_blank') 중앙선거관리위원회에 공개된 인물정보
  를 바탕으로 하였습니다.

div.clear
