div#logo
  h2 나는 서울 시장이다!

div#container
  div#container2

    div.leftcolumn.member_panel
      img.photo(src='images/_EB_82_98_EA_B2_BD_EC_9B_90.jpg')
      div.name 나경원
      div.timeline
        block left-timeline

    div.rightcolumn.member_panel
      img.photo(src='images/_EB_B0_95_EC_9B_90_EC_88_9C.jpg')
      div.name 박원순
      div.timeline
        block right-timeline

    div.clear

style(type='text/css')
  @import url('http://getbarometer.s3.amazonaws.com/assets/barometer/css/barometer.css');
script(type='text/javascript', src='http://getbarometer.s3.amazonaws.com/assets/barometer/javascripts/barometer.js')
script(type='text/javascript')
  BAROMETER.load('wcL6dMdEn5teaF8G2j7W3');

each jsfile in jsfiles
  script(type='text/javascript', src=jsfile)
