h1 {
	font-size: 110%;
}

div#popup-import {
	border: 1px solid #aaa;
	padding: 5px;
	margin: 10px 0;
}

div.block {
	float: left;
	border: 1px solid #aaa;
	width: 500px;
}

div.block pre {
	white-space: pre-wrap;
}

textarea[name="db"] {
	width: 800px;
	height: 400px;
}
